---
import AstroComponent from '../components/AstroComponent.astro';
import ReactComponent from '../components/ReactComponent.tsx';
---

<!doctype html>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
    </head>
    <body>
      <div>
        <main>
          <h1>Hey,</h1>
          <AstroComponent/>
          <ReactComponent/>
        </main>
      </div>
    </body>
